@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    --color_black: #232536;
    --color_yellow: #FFD050;
    --color_purple: #592EA9;
    --color_darkgrey: #4C4C4C;
    --color_mediumgrey: #6D6E76;
    --color_lightgrey: #F4F4F4;
    --color_lavender: #F4F0F8;
    --color_lightyellow: #FBF6EA;
}


.container {
    margin: auto;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
}

section {
    margin: 0 auto;
    max-width: 1440px;
}

a{
    text-decoration: none;
}

h2, h3, h4, h5{
    font-weight: bold;
}

/* Навигационный бар */

.navbar-brand{
    font-size: 28px;
    font-weight: bold;
}


.btn {
    color: var(--color_yellow);
    border: var(--bs-btn-border-width) solid var(--color_yellow);
}

.btn-outline-success {
    --bs-btn-color: var(--color_yellow);
    --bs-btn-border-color: var(--color_yellow);
    --bs-btn-hover-bg: var(--color_yellow);
    --bs-btn-hover-border-color: var(--color_yellow);
    --bs-btn-active-bg: var(--color_yellow);
    --bs-btn-active-border-color: var(--color_yellow);
    --bs-btn-disabled-color: var(--color_yellow);
    --bs-btn-disabled-border-color: var(--color_yellow);
    --bs-btn-hover-color: var(--color_black);
    --bs-btn-active-color: var(--color_black);
}

.form-control {
    border-radius: 0;
}


header {
    background-color: var(--color_black);
}

.btn {
    --bs-btn-border-radius: 0;
}

.navbar {
    --bs-navbar-toggler-border-radius: 0;
}

.navbar-toggler {
    background-color: var(--color_yellow);
    border: var(--bs-border-width) solid var(--color_yellow);
}

/* Карусель */

.carousel_sect .container-fluid {
    padding: 0;
    background-color: var(--color_black);
}

/* Посты домашней страницы */

.home_posts {
    padding: 100px 0;
}

.home_posts .best_post_title, .all_post_title {
    margin-bottom: 30px;
}


.best_post {
    width: 100%;
    height: auto;
    max-width: 750px;
    border: 1px solid var(--color_mediumgrey);
    padding: 10px;
}

.responsive {
    max-width: 100%;
    height: auto;
}

.best_post p{
    padding: 10px 0;
}

.home_posts p {
    margin: 0;
}

.all_posts{
    padding: 10px 0;
}

.all_post_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Категории */
.categories{
    padding: 20px;
}
.category_card {
    width: 296px;
    height: 228px;
    padding: 20px 20px;
    border: 1px solid var(--color_mediumgrey);
}

.category_card p {
    font-size: 14px;
}

.category_card img {
    margin-bottom: 20px;
}

/* Подвал */

footer{
    padding: 30px;
    background-color: var(--color_black);
}

footer .container-fluid {
    padding: 0;
}

.bg-body-tertiary {
    background-color: var(--color_black)!important;
}

.subscribe{
    padding: 30px;
}

.subscribe h3 {
    color: #FFFFFF;
}

.email_subs {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    margin: 0 auto;
    color: #FFFFFF;
    opacity: 0.7;
    font-size: 12px;
}

footer .cont_icons{
    color: #FFFFFF;
    opacity: 0.7;
}

.cont_mess {
    display: flex;
    justify-content: end;
    align-items: center;
}