@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    --color_black: #232536;
    --color_yellow: #FFD050;
    --color_purple: #592EA9;
    --color_darkgrey: #4C4C4C;
    --color_mediumgrey: #6D6E76;
    --color_lightgrey: #F4F4F4;
    --color_lavender: #F4F0F8;
    --color_lightyellow: #FBF6EA;
}


.container {
    margin: auto;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
}

/* Навигационный бар */
.nav_mod {
    height: 60px;
}

.navbar-brand{
    font-size: 28px;
}

.navbar__divider {
    margin: -4px 8px;
    width: 1px;
    height: 60px;
    background-color: rgba(94,94,94,.6);
}

.btn {
    color: var(--color_yellow);
    border: var(--bs-btn-border-width) solid var(--color_yellow);
}

.btn-outline-success {
    --bs-btn-color: var(--color_yellow);
    --bs-btn-border-color: var(--color_yellow);
    --bs-btn-hover-bg: var(--color_yellow);
    --bs-btn-hover-border-color: var(--color_yellow);
    --bs-btn-active-bg: var(--color_yellow);
    --bs-btn-active-border-color: var(--color_yellow);
    --bs-btn-disabled-color: var(--color_yellow);
    --bs-btn-disabled-border-color: var(--color_yellow);
}

/* Карусель */

.carousel_sect .container-fluid {
    padding: 0;
}